body {
    color: crimson;
}

body {
    background-color: black;
}

.game {
    border: solid;
    border-color: lime;
    margin-top: 5vw;
    margin-left: 25vw;
    margin-right: 25vw;
    height: 34vw;
    width: 50vw;
}

.player {
    background-color: indigo;
    height: 8vw;
    width: 1vw;
    margin-left: 30vw;
    margin-top: -21vw;
}

.bot {
    background-color: deeppink;
    height: 8vw;
    width: 1vw;
    margin-left: 68vw;
    margin-top: -8vw;
}



