.text {
    color: black;
    text-align: center;
}

.header {
    background-color: darkred;
}

.sidelines {
    background-color: deeppink;
    height: 50vh;
    width: 10vw;
    position: absolute;
    top: 30%;
    left: 30%;
    transform: translate(-50%, -50%);
}

body {
    background-color: gray;
}

game {
    background-color: black;
    border: solid;
    border-width: 15px;
    border-left: none;
    border-right: none;
    border-color: crimson;
    height: 28vw;
    width: 50vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#middle_line {
    background-color: crimson;
    height: 28vw;
    width: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#player1 {
    background-color: crimson;
    width: 1vw;
    height: 7vw;
    position: absolute;
    top: 50%;
    left: 1%;
    transform: translate(-50%, -50%);
}

#player2 {
    background-color: crimson;
    width: 1vw;
    height: 7vw;
    position: absolute;
    top: 50%;
    left: 99%;
    transform:translate(-50%, -50%);
}

#score_left {
    color: crimson;
    font-family: Arial, Helvetica, sans-serif;
    font-size:70px;
    position: absolute;
    top: 10%;
    left: 40%;
    transform: translate(-50%, -50%);
}

#score_right {
    color: crimson;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70px;
    position: absolute;
    top: 10%;
    right: 38%;
    transform: translate(-50%, -50%);
}

#ball {
    background-color: white;
    height: 40px;
    width: 40px;
    position: fixed;
    top: calc(50% - 20px);
    left: calc(50% - 20px);
}

